.Rproj.user
.Rhistory
.RData
AQI_Random_procedure.pdf
Data
AQI_Random_GLMER.Rproj
Examples_ Mixed Effects Logistic Regression.pdf
Results
Convergence warnings.pdf
path.txt
AQI_Refine_RandomEffectsModel.pdf
Figs
